@page "{id:long}"
@model ProfilesModel

<!--This page is for filling from server-->
<!DOCTYPE html>
<html>
<head>
    <title>Author Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cosmicjs/5.6.0/cosmic.min.css">
</head>
<body>
<article>
    <h1>@Model.Profile.Name</h1>
    <li>
        @foreach (var article in @Model.Profile.Articles)
        {
            <ul>
                <article>
                    <h1><a href="/articles/@article.Id">@article.Title</a></h1>
                        <p>@Html.Raw(article.Content);</p>
                </article>
            </ul>
        }
    </li>
</article>
</body>
</html>